.main { width: 0.67127; }

.main { width: 3; width: 1; }

.abs { width: 10em; height: 15px; }

.round { width: 3px; height: 5px; font-size: 4px; line-height: 3px; text-indent: 200%; left: 20%; top: 21%; }

.mycount { width: 2; }
